#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.idp.profile.context.RelyingPartyContext'))
#set ($userName = $authenticationContext.getSubcontext('net.shibboleth.idp.authn.context.UsernamePasswordContext', true).getUsername())
#set ($totpUrl = $authenticationContext.getSubcontext('net.kvak.shibboleth.totpauth.api.authn.context.TokenUserContext').getTotpUrl())
#set ($sharedSecret = $authenticationContext.getSubcontext('net.kvak.shibboleth.totpauth.api.authn.context.TokenUserContext').getSharedSecret())
#set ($errorMessage = $authenticationContext.getSubcontext('net.kvak.shibboleth.totpauth.api.authn.context.TokenUserContext').getErrorMessage())
##
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>#springMessageText("idp.title", "Web Login Service")</title>
  <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css">
#if( "$errorMessage" != "")
<style>
p.error {
    color: red;
    font-weight:bold;
}
</style>
#end
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <header>
        <img src="$request.getContextPath()#springMessage("idp.logo")" alt="#springMessageText("idp.logo.alt-text", "logo")">
      </header>

      <div class="content">
        <div class="column one">
          #parse("login-error.vm")

          #if( "$errorMessage" != "")
          
          <p><h3><strong><center>Register a new Token</center></strong></h3></p><br>
	      <p class="error")>$errorMessage</p><br>
          
          #end
          <form action="$flowExecutionUrl" method="post">
            #parse("csrf/csrf.vm")
            <li> Download an authenticator application or service to your mobile device that is compatible with RFC 6238. Any application or service which is compatible with RFC 6238 will work. Listed here are some cross device authenticators that are compatible with cloud.gov: Microsoft Authenticator, LastPass, 1password, Authy.
 </li>
            <li> Open the app and scan the barcode image below or manually enter this key: <strong>$sharedSecret</strong></li>
            <li> The app will generate a token code for you. Enter the generated token code in the box below the barcode image and click <b>Register</b></li>
            <br>
            <div class="form-element-wrapper">
               <center><img src="$totpUrl" height="166" width="166"></center>
            </div>

            <div class="form-element-wrapper">
              <label for="tokenNumber">Token code</label>
              <input class="form-element form-field" id="j_tokenNumber" name="j_tokenNumber" type="text" autofocus>
            </div>


            <div class="form-element-wrapper">
              <button class="form-element form-button" type="submit" name="_eventId_proceed"
              >Register</button>
            </div>
          </form>
          <li><a href="https://support.google.com/accounts/answer/1066447" target="_blank">Google Authenticator installation instructions</a></li>
<li><a href="https://support.authy.com/hc/en-us/articles/115001945848-Installing-Authy-apps" target="_blank">Authy Authenticator installation instructions</a></li>
<li><a href="https://support.microsoft.com/en-us/account-billing/set-up-an-authenticator-app-as-a-two-step-verification-method-2db39828-15e1-4614-b825-6e2b524e7c95" target="_blank">Microsoft Authenticator installation instructions</a></li>
<li><a href="https://support.lastpass.com/s/document-item?language=en_US&bundleId=lastpass&topicId=LastPass/enable-mfa.html&_LANG=enus" target="_blank">LastPass Authenticator installation instructions</a></li>
<li><a href="https://support.1password.com/one-time-passwords/"_blank">1Password Authenticator installation instructions</a></li>




        </div>

      </body>
</html>
